@model EducationalWebApplication.Models.Instructor

@{
    ViewData["Title"] = "Delete";
}

<h2>Remove Instructor</h2>

<h4>Are you sure you want to remove this Instructor?</h4>

<div class="container mt-2 mb-2">
    <div class="card" style="width: 18rem;">
        <img src="~/assets/img/Instructors/@Model.ImageURL" class="card-img-top" alt="Instructor Image" id="instructorImage">
        <div class="card-body">
            <h5 class="card-title" id="instructorName">@Model.Name</h5>
            <p class="card-text">
                <strong>Salary:</strong> <span id="instructorSalary">@Model.Salary</span><br>
                <strong>Address:</strong> <span id="instructorAddress">@Model.Address</span><br>
                <strong>Department:</strong> <span id="instructorDepartment">@Model.Department.Name</span><br>
                <strong>Course:</strong> <span id="instructorCourse">@Model.Course.Name</span>
            </p>
        </div>
    </div>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </form>
</div>
