@model DataListViewModel<Department>

@{
    ViewData["Title"] = "Departments";
}

<partial name="_MessagePartial" />



<h1>Departments List</h1>

<p class="mb-3">
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>

<partial name="_SearchBar" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm" asp-route-search="@Model.Search">Name</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.ManagerSortParm" asp-route-search="@Model.Search">Manager Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Page.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="@Url.Action("Delete", new { id = item.Id })">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
@* Paging *@
<partial name="_PaginationPartial" />

<partial name="_DeleteModal" />