@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}

@if (TempData["message"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["message"]');
    </script>
}

<h1>Courses List</h1>

<p class="mb-3">
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<div class="mb-3">
    <form asp-action="Index" class="flex justify-content-center">
        <div class="nav justify-content-center">
            <input class="form-control d-inline w-50 me-1" type="search" name="search" value="@ViewBag.search" />
            <input class="btn btn-outline-primary" type="submit" value="Search" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinDegree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDegree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@* Paging *@
<div class="col-md-12">
    @{
        int prevPageNo = ViewBag.pageNo - 1;
        if (prevPageNo <= 0)
        {
            prevPageNo = 1;
        }
        int nextPageNo = ViewBag.pageNo + 1;
        if (nextPageNo > ViewBag.noOfPages)
        {
            nextPageNo = ViewBag.noOfPages;
        }
    }
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-controller="Courses" asp-route-pageNo=@prevPageNo asp-route-search=@ViewBag.search>
                    <span>Previous</span>
                </a>
            </li>
            @for (var i = 1; i <= ViewBag.noOfPages; i++)
            {
                if (i == ViewBag.pageNo)
                {
                    <li class="page-item active">
                        <a class="page-link">
                            <span>@i</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Index" asp-controller="Courses" asp-route-pageNo=@i asp-route-search=@ViewBag.search>
                            <span>@i</span>
                        </a>
                    </li>
                }

            }
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-controller="Courses" asp-route-pageNo=@nextPageNo asp-route-search=@ViewBag.search>
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>