@model DataListViewModel<Instructor>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm" asp-route-search="@Model.Search">Name</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.SalarySortParm" asp-route-search="@Model.Search">Salary</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.AddressSortParm" asp-route-search="@Model.Search">Address</a>
            </th>
            <th>
                <label class="text-primary">Image</label>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.DepartmentSortParm" asp-route-search="@Model.Search">Department</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewBag.CourseSortParm" asp-route-search="@Model.Search">Course</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Page.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img src="~/assets/img/Instructors/@item.ImageURL" width="50" height="50" style="object-fit: cover" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="@Url.Action("Delete", new { id = item.Id })">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" />